body {
  background-color: #f2f2f2;
}
.app-columns {
  display: flex;
  flex-direction: row;
}

.app-columns > .app-column {
  width: 50%;
}

.app-columns > .app-column:nth-child(1) {
  max-width: calc(50% - 7px);
  padding-right: 0px;
  margin-right: 7px;
  border-right: 1px solid #aaaaaa;
}

.app-columns > .app-column:nth-child(2) {
  padding: 10px 10px 10px 3px;
}


input[type="button"],
button {
  margin-top: 15px;
  background-color: transparent;
  border: none;
  color: blue;
  font-size: 18px;
}

input[type="button"]:hover,
button:hover {
  background-color:rgb(201, 201, 255);
  cursor: pointer;
}

.import-export-controls textarea {
  width: 100%;
  background-color: transparent;
  height: calc(100vh - 105px);
}

.import-export-buttons {
  display: block;
  text-align: center;
  height: 75px;
}


.react-tabs__tab-panel {
  background-color: #f4f0df;
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, #f4f0df 20%, #f4f0df 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f4f0df 20%, #f4f0df 80%, transparent 80%, transparent) 40px 40px, linear-gradient(#fbf9f0 3.2px, transparent 3.2px) 0 -1.6px, linear-gradient(90deg, #fbf9f0 3.2px, #f4f0df 3.2px) -1.6px 0;
  background-size: 80px 80px, 80px 80px, 40px 40px, 40px 40px;
  height: calc(100vh - 50px);
  overflow-y: auto;
  padding: 15px 15px 0;
}

.block-label {
  display: block;
}

.block-label span {
  min-width: 75px;
  display: inline-block;
}

.variant {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  margin-bottom: 15px;
  display: block;
  padding: 5px;
  position: relative;
  padding-bottom: 10px;
}

.variant-action-inputs  {
  position: absolute;
  top: 5px;
  right: 5px;
}

.sub-variant {
  margin-top: 10px;
  margin-left: 10px;
}

.single-font-definition {
  padding-left: 15px;
  margin-top: 10px;
}

.single-font-definition > label {
  font-weight: 500;
  min-width: 190px;
  display: inline-block;
}


.inline-labels {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.inline-labels input {
  width: 75px;
  margin-left: 15px;
  margin-top: 5px;
  margin-right: 35px;
}

.react-tabs__tab-list {
  margin-bottom: 0!important;
}

.react-tabs__tab:focus:after {
  display: none!important;
}

.react-tabs__tab--selected {
  background-color: #f6f3e5!important;
}

* {
  font-family: 'Roboto Mono', monospace;
}

.pad-below {
  margin-bottom: 15px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 10px;
}

.app-info-button {
  display: block;
  margin: 15px auto;
}

.error-message {
  font-size: 18px;
  color: red;
}